@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
.d-flex {
  display: flex;
}

.jc-space-between {
  display: flex;
  justify-content: space-between;
}

.align-it-center {
  display: flex;
  align-items: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  background-color: hsl(210, 60%, 98%);
  font-size: 16px;
  color: hsl(224, 21%, 14%);
  min-height: 100dvh;
  padding-bottom: 1rem;
}

.container {
  margin-top: 1rem !important;
  width: 95dvw;
  max-width: 750px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 10px rgba(225, 225, 225, 0.2);
}

h1 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1rem;
  display: inline-block;
}
h3.username a {
  color: inherit;
}

header {
  margin-bottom: 1rem;
}

.time {
  color: hsl(219, 14%, 63%);
}

.mark-all-read-btn {
  border: none;
  background-color: transparent;
  color: hsl(219, 12%, 42%);
  font-family: inherit;
  cursor: pointer;
}
.mark-all-read-btn:hover {
  color: hsl(219, 85%, 26%);
}

span {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}

.notif-count {
  background-color: hsl(219, 85%, 26%);
  color: hsl(0, 0%, 100%);
  font-size: 1.1rem;
  padding: 2px 10px;
  vertical-align: top;
  font-weight: initial;
  border-radius: 5px;
}

.event {
  color: hsl(219, 12%, 42%);
}
.event-target {
  font-weight: 800;
  color: hsl(219, 12%, 42%);
}

a {
  color: hsl(219, 12%, 42%);
}
a:hover, a:hover * {
  color: hsl(219, 85%, 26%) !important;
}

li {
  padding: 1em;
  margin-block: 0.5rem;
  border-radius: 7px;
  display: flex;
}
li.unread {
  background-color: hsl(211, 68%, 94%);
}
li.unread a * {
  color: hsl(219, 85%, 26%);
}
li.unread span:where(:nth-last-child(2), :only-child)::after {
  content: "";
  background-color: hsl(1, 90%, 64%);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-inline: 0.3rem;
}
li::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 40px;
  aspect-ratio: 1;
  display: inline-block;
  -webkit-margin-end: 0.8rem;
          margin-inline-end: 0.8rem;
}
li:nth-child(1)::before {
  background-image: url("../images/avatar-mark-webber.webp");
}
li:nth-child(2)::before {
  background-image: url("../images/avatar-angela-gray.webp");
}
li:nth-child(3)::before {
  background-image: url("../images/avatar-jacob-thompson.webp");
}
li:nth-child(4)::before {
  background-image: url("../images/avatar-rizky-hasanuddin.webp");
}
li:nth-child(5)::before {
  background-image: url("../images/avatar-kimberly-smith.webp");
}
li:nth-child(6)::before {
  background-image: url("../images/avatar-nathan-peterson.webp");
}
li:nth-child(7)::before {
  background-image: url("../images/avatar-anna-kim.webp");
}

li:has(img) a {
  margin-left: auto;
}
li:has(img) img {
  max-width: 50px;
}

.message {
  border: 1px solid hsl(205, 33%, 90%);
  padding: 0.8em;
  border-radius: 5px;
  margin-top: 1rem;
}
.message p {
  color: hsl(219, 12%, 42%);
}
.message:hover {
  background-color: hsl(205, 33%, 90%);
}/*# sourceMappingURL=main.css.map */